#
# Mellanox Technologies Ltd. public repository configuration file.
# For more information, refer to http://linux.mellanox.com
#

# [mlnx_ofed_{{ ofed_version }}_base]
deb {{ ofed_repository_url }}/{{ ofed_version }}/{{ ofed_target_release }}/{{ ofed_target_arch }} ./
